<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'syle.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="container1">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="./colordetection">Color Detection</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/ ">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contact Us
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/about">About</a></li>
         
            
                 
                </ul>
              </li>
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <section>
        <div class="heading">
          <h1>
            Color Detection
          </h1> 
          
            
          
        </div>
      
      </section>
     <section class="colors">
      <div class="img">
        <img src="../static/Colour Blind Test no_2 Essential T-Shirt by JC Den.jpeg" height="400px" width="400px" alt="">
        <div class="contentt">
          <h1>Color blindness</h1>
          <br>

          <p>
            It is a disability in which the person suffering from it is unable to see some colors (fun fact: his/her 
vision is not black and white) the colors not visible depends on type of Color Blindness. This 
disability makes a person impaired from doing task which involves selection of colors like 
choosing clothes, buying vegetables, fruits or even while travelling (Traffic lights or other cars 
lights).
          </p>

        </div>
      </div>

     </section>
     <br>
     <section>
      <br>
      <br>
      <br>

      
        
        <div class="contentt1">
          <h1>How Does Color Detection System Works?</h1>
          <br>

          <p>
            Color detection is the act to detect and identify the color in the image/video asked or clicked on. It 
captures, analyzes, and compares the R,G,B value and gives the corresponding color.
<p>
  1. The Color detection process is an important step because it detects and saves the colors of 
images and videos. 

</p>
<p>
  2. The image capture process the converts analogue (color) information into a set of digital data 
(R, G, B values). 

</p>
<p>
  3. The color recognition process compares and confirms whether the two colors same or not.

</p>



  
          </p>

        </div>
      </div>

     </section>
     <br>
    <br>
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          
         
         
          
          
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://twitter.com/"
            
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ><img src="../static/slideshow-img-1.png   " width="100px" height="100px" alt="" ></a>
    
          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.youtube.com/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          > <img src="../static/slideshow-img-2.png" width="100px" height="100px"  alt=""></a>
    
          <!-- Google -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
          >  <img src="../static/slideshow-img-3.png"width="100px" height="100px"  alt=""></a>
    
          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ><img src="../static/slideshow-img-4.png" width="100px" height="100px"  alt=""></a>
    
          <!-- Linkedin -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://github.com/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ><img src="../static/slideshow-img-5.png" width="100px" height="100px"  alt=""></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">Color Detection</a>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- Footer -->

  
 
  
    
</body>
</html>